.inventory {
  font-family: 'PT Serif';
  grid-area: inventory;
}

.inventory li {
  list-style: none;
  line-height: 2.3;
}

.inventory-list {
  padding: 0;
  margin-top: 10px;
}

.inventory h3 {
  font-size: 20pt;
}