.room-description:before {
  content: '\2739\2739\2739';
  display: block;
  position: absolute;
  top: -4vh;
  left: calc(50% - 1rem);
}

.room-description {
  font-family: "PT Serif";
  line-height: 15pt;
  font-size: 11pt;
}

.room-description::first-letter {
  font-size: 18pt;
  line-height: 15pt;
  padding-right: 1px;
  vertical-align: baseline;
}

@media(min-width: 768px) {
  .room-description {
    grid-area: story;
    margin-bottom: 2vh;
  }
}