h1, h2 {
  text-align: center;
}

h1 {
  font-family: 'PT Sans Narrow';
  font-size: 22pt;
  line-height: 0.5;

}

h2 {
  font-family: 'Cardo';
  font-style: italic;
  font-size: 13pt;
}

.room-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: heading;
}

@media (min-width: 768px) {
  h1 {
    font-size: 30pt;
  }
  
  h2 {
    font-size: 16pt;
  }
}