@media(max-width: 767px) {
  .room-description {
    grid-area: story;
    margin-bottom: 2vh;
    font-family: "PT Serif";
    line-height: 15pt;
    font-size: 11pt;
  }

  .room-description:before {
    content: '\2739\2739\2739';
    display: block;
    position: absolute;
    top: -2vh;
    z-index: 1;
    left: calc(50% - 1rem);
  }

  .room-description::first-letter {
    font-size: 18pt;
    line-height: 15pt;
    padding-right: 1px;
    vertical-align: baseline;
  }
}

@media(min-width: 768px) {
  .room-description {
    font-size: 15pt;
    grid-area: story;
    position: relative;
    margin-top: 0;
    max-width: 37.5rem;
    text-align: center;
    margin: 0 auto;
  }
  
  .room-description::first-letter {
    font-size: 18pt;
    line-height: 15pt;
    padding-right: 1px;
    vertical-align: baseline;
  }
  
  .room-description:before {
    display: none;
  }
  
  .room-description:after {
    content: '\2739\2739\2739';
    display: block;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    bottom: -1vh;
  }
}