.options {
  margin-top: 2.5vh;
  display: flex;
  min-height: 7vh;
  padding-bottom: 1vh;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .options {
    display: flex;
    grid-area: options;
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 5vh;
    height: 100%;
  }
}
