.ledger-items {
  list-style: none;
  padding: 0 10px 0 10px;
  border-left: 0.7vw solid black;
  border-right: 2vw solid white;
}


@media(min-width: 768px) {
  .ledger-items {
    grid-area: ledger;      
    padding-left: 2.5vw;
    border-left: 0;
  }
}
