.main {
  margin: 0 6vmax 0 6vmax;
}

@media (min-width: 768px) {
  .main {
    margin: 0 5vh 0 5vh;
    display: grid;
    grid-template-areas: "heading heading"
                         "story story"
                         "inventory ledger"
                         "options options"
                         "empty empty";
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 24fr 17fr 36fr 19fr 5fr;
    max-height: 100%;
    grid-row-gap: 1vh;
    max-width: 900px;
  }
}

@media(min-width: 900px) {
  .main {
    margin: 0 auto;
  }
}