.h-scrollable-container {
  position: relative;
  width: 100%;
}

@media(min-width: 768px) {
  .h-scrollable-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.h-scrollable {
  overflow-x: auto;
  width: 100%;
  display: flex;
}

.h-scrollable-container:before {
    content: '';
    z-index: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    height: 100%;
    width: 2vw;
    top: 0;
    left: 0;
}

.h-scrollable-container:after {
  content: '';
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  position: absolute;
  height: 100%;
  width: 2vw;
  bottom: 0;
  right: 0;
}