.scrollable-container {
  position: relative;
}

.scrollable {
  overflow: scroll;
}

.scrollable-container:before {
    content: '';
    z-index: 1;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    height: 2vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.scrollable-container:after {
  content: '';
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  position: absolute;
  height: 2vh;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media(min-width: 768px) {
  .scrollable {
    height: 100%;
  }
}